<h1>Results Page!!</h1>
<ul>
    <% for (var i=0;i<data["Search"].length; i++){ %>
        <li>
            <strong>
                <%= data["Search"][i].Title %>
            </strong> 
            - <%= data.Search[i].Year %>
        </li>
    <% } %>
</ul>

<a href="/">
    Search Again
</a>